.cart-items-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cart-item {
    width: 48%;
    background-color: #eeeeee;
    height: 100%;
    margin-bottom: 1rem;
}

.cart-item p {}

.cart-item-img {
    width: 100%;
}