#main-user {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2)
}

#user-container {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 100vh;
    
    transition: margin 0.5s;
    margin: 0 0 0 -320px; */
    position: fixed;
    background-color: white;
    right: 0;
    top: 0;
    transform: translate3d(+350px, 0, 0);
    width: 350px;
    height: 100vh;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
}

#user-container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin: 0 auto;
}

#user-container .close-button {
    width: 30px;
}

#user-container.show {
    transform: translate3d(0vw, 0, 0)
}

/* LOGIN PAGE */
form {
    width: 96%;
    margin: 0 auto;
}

.input-container,
.button-container {
    display: flex;
}

.input-container input {}

.social-icon {
    display: flex;
    align-items: center;
    margin: 0.2rem 0.5rem;
}

.social-button-container {
    margin-bottom: 1rem;
}

hr {
    margin: 1rem;
}