/* HOME PAGE */

.homepage-section-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    height: 500px;
    background-color: grey;
    max-width: 1400px;
}

.homepage-section-2 div {
    flex-grow: 1;
    width: 33%;
    background-color: white;
    margin: 2rem 1rem 2rem 1rem;
}


.homepage-section-3 {
    width: 100%;
    background-color: skyblue;
    height: 300px;
}

.homepage-section-4 {
    width: 100%;
    background-color: yellow;
    height: auto;
}

@media only screen and (max-width: 900px) {
    .main-Swiper {
        width: 100%;
        height: 350px;
    }
}

@media only screen and (max-width: 500px) {
    .homepage-section-2 {
        flex-direction: column;
        width: 100%;
        /* padding-bottom: 1rem; */
    }

    .homepage-section-2 div {
        /* flex-grow: 1; */
        width: 100%;
        background-color: white;
        margin: 0 auto;
        margin: 3rem 0 0 0;
        text-align: center;
    }

}