/* HOME PAGE */

.homepage-section-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    height: 500px;
    background-color: pink;
    max-width: 1400px;
}

.homepage-section-2 div {
    flex-grow: 1;
    width: 33%;
    background-color: white;
    margin: 2rem 1rem 2rem 1rem;
}


.homepage-section-3 {
    width: 100%;
    background-color: skyblue;
    height: 300px;
}

.homepage-section-4 {
    width: 100%;
    background-color: yellow;
    height: 300px;
}


.swiper {
    width: 100%;
    /* max-width: 1400px; */
    height: 500px;
    overflow: hidden;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 900px) {
    .swiper {
        width: 100%;
        height: 350px;
    }
}

@media only screen and (max-width: 500px) {
    .homepage-section-2 {
        flex-direction: column;
        width: 100%;
        /* padding-bottom: 1rem; */
    }

    .homepage-section-2 div {
        /* flex-grow: 1; */
        width: 100%;
        background-color: white;
        margin: 0 auto;
        margin: 3rem 0 0 0;
        text-align: center;
    }

    .swiper {
        width: 100%;
        height: 250px;
    }
}