.admin-panel {
    height: 100vh;
}

.admin-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-panel-container {
    width: 100%;
}

.page-types {
    padding: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;

}


/* AddProducts  */
.addProduct-container {
    width: 600px;
    margin: 0 auto;
}

.addProduct-container div {
    margin: 0.5rem 0rem;
}

.option-input-container {
    width: 100%;

    background-color: yellow;
}

.img-input {
    margin: 1rem 0rem 1.5rem 0rem;
}

.page-types {
    display: flex;
}

.page-types p {
    margin: 0rem 1rem;
    cursor: pointer;
}

.page-types p.selected {
    font-weight: bold
}

/* VIEW PRODUCTS PAGE */

.admin-products-page {

    margin: 0 auto;
}

.admin-products-page {
    width: 100%;
}

/* EDIT PRODUCT PAGE */
.product-edit-page {
    /* margin: 0 auto; */
    /* width: 100%; */
    width: 500px;
    /* height: 500px; */
    display: absolute;
    top: 0;
    /* background-color: pink; */
    /* width: 800px; */
    /* height: 100%;
    flex: 1 */
    /* justify-content: center; */
    flex-direction: row;
    background-color: yellow;
    /* align-items: center; */
}

.product-edit-container {
    width: 500px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    /* background-color: yellow */
}

.edit-page-close-button {
    /* position: absolute; */
    /* right: 1rem;
    top: 1rem; */
    /* font-size:  */
}


/* ADMIN PRODUCT LIST PAGE */

.admin-product-container {
    width: 100%;
    display: flex;
    background-color: yellow;
}

.admin-product-container img {
    width: 100px;
}