.admin-panel {
    height: 100vh;
}

.admin-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-panel-container {
    display: 100%;
}

/* AddProducts  */
.addProduct-container {
    width: 600px;
}

.addProduct-container div {
    margin: 0.5rem 0rem;
}

.option-input-container {
    width: 100%;

    background-color: yellow;
}

.img-input {
    margin: 1rem 0rem 1.5rem 0rem;
}

.page-types {
    display: flex;
}

.page-types p {
    margin: 0rem 1rem;
    cursor: pointer;
}

.page-types p.selected {
    font-weight: bold
}

/* VIEW PRODUCTS PAGE */
.admin-products-page div {}