body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  /* margin: 0; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.cursor-pointer {
  cursor: pointer
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}